<h1 class="text-center mt-4">Listing all Articles</h1>
<% if @articles.empty? %>
  <h3>No articles saved!</h3>
<% else %>
  <div class="container">
    <%= render 'articles', articles: @articles %>
  </div>
<% end %>
<div class="mb-3">
  <%= link_to 'Create a new article', new_article_path %>
</div>